@mutedBlue: #5B83AD;
@brightPink: #F6546A;
@brightBlue: #3399FF;
@mutedPink: #E7D5D5;
@brightYellow: #FFFF00;
@brightGreen: #66CC00;
@darkBlue: #33498F;
@forestGreen: forestgreen;

@black: #000;
@darkerGray: #181818;
@darkGray: #333;
@gray: #666;
@lightGray: #AAA;
@lighterGray: #CCC;
@white: #FFF;

@background: rgba(245,0,245,1);
@uppercaseHeaderFonts: "Calibri","HelveticaNeue", Helvetica, sans-serif;
@modernFonts: "Lato", "HelveticaNeue", "Helvetica", sans-serif;

@x: 5px;
.pad(@a) {
  padding: @x*@a;
}

.pad-hv(@a, @b) {
  padding: @x*@a @x*@b;
}

.margin(@a) {
  margin: @x*@a;
}

.margin-hv(@a, @b) {
  margin: @x*@a @x*@b;
}

.round(@a) {
  border-radius: @a;
  -webkit-border-radius: @a;
  -moz-border-radius: @a;
}

.round-top-left(@a) {
  border-top-left-radius: @a;
  -webkit-border-top-left-radius: @a;
}

.round-top-right(@a) {
  border-top-right-radius: @a;
  -webkit-border-top-right-radius: @a;
}

@pad-x: { padding: @x }

body {
  background: white;
  padding: 0px 0px;
  font-family: @modernFonts;
}

.wrapper {
  margin: 0px;
  padding: 0px 35px;
}

.header {
  font-size: 60px;
  color: black;
  margin: 0 0 0 5px;
}

.subheader {
  color: @darkGray;
  .margin-hv(5,0);
  font-weight: 500;
  font-size: 30px;
}

.date {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  color: @white;
  background: @brightPink;
  border: 0 solid @brightPink;
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
}

.defaultSection {
  .pad(2);
  .margin(2);
}

.headerSection:extend(.defaultSection) {

}

.newsSection:extend(.defaultSection) {

}

ul.newsItems {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  // max-width: 600px;

  li.newsItem {
    .margin-hv(3,3);
    .pad-hv(0,0);
    .round(5px);
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    box-shadow: 0 1px 4px lighten(black, 72%);
    overflow: hidden;
    position: relative;
    opacity: 1;

    a.newsItemLink {
      text-decoration: none;
      overflow: hidden;
      padding: 0;

      div.newsItemLinkImageDiv {
        width: 100%;

        img.newsItemLinkImage {
          margin: 0;
          width: 100%;
          border-radius: 0;
        }
      }

      div.newsItemLinkContent {
        .pad-hv(1,1);
        .margin-hv(1,1);

        .newsItemLinkTitle {
          font-size: 18px;
          font-weight: 400;
          color: @darkGray;
          .margin-hv(2,1);
        }

        .newsItemLinkDescription {
          font-size: 15px;
          color: @gray;
          .margin-hv(2,1);
        }

        .newsItemLinkSource {
          .margin-hv(2,1);
          color: @forestGreen;
          font-size: 13px;
        }
      }
    }
  }
}

ul.newsItems li.newsItem:hover {
  opacity: 1;
  background: black;
  div.newsItemLinkContent {
    .newsItemLinkTitle {
      color: @white !important;
    }
    .newsItemLinkDescription {
      color: @lightGray !important;
    }
    .newsItemLinkSource {
      color: @brightBlue !important;
    }
  }
}

.sectionMenu {

}

ul.sectionHeaderList {
  list-style-type: none;
  padding: 0px;

  li.sectionHeaderItem {
    display: inline-block;
    margin: 0px 10px 0px 0px;
    color: @black;
    opacity: 0.3;
    .clickable
  }
}


ul.sectionHeaderList li.sectionHeaderItem.active {
  opacity: 0.8;
  font-weight: 600;
}

.sectionHeader {
  color: black;
  font-size: 36px;
  font-weight: 400;
}


.leftPane {
  float: left;
  .margin-hv(1,3);
}

.rightPane{
  float: left;
  .margin-hv(1,3);
}

.toDoList {
  list-style-type: none;
  .pad-hv(0,0);
  .margin-hv(1,1);

  .toDoItem {
    .pad-hv(4,5);
    .margin-hv(0,0);
    margin-bottom: 7px !important;  // override bulma
    max-width: 300px;
    overflow: hidden;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.1);
    .round(6px);

    .toDoItemText {
      color: @gray;
      font-size: 16px;
    }
    .hideItemButton {
      color: @lighterGray;
      font-size: 14px;
      float: right;
      margin: 0 0 0 5px;
      padding: 0 5px;
      cursor: pointer;
    }
  }
}

.uppercaseSmallHeader {
  font-family: @uppercaseHeaderFonts;
  font-size: 15px;
  text-transform: uppercase;
  color: @lightGray;
}

.addToDoForm {
  .margin-hv(0,0);

  .addToDoInput {
    border: 0px;
    background: rgba(0,0,0,0.06);
    .round(5px);
    color: @lightGray;
    font-size: 16px;
    padding: 10px 10px;
    width: 100%;
  }

  .addToDoInput:focus {
    border: 0px;
    background: @black;
    color: @white;
    outline: none;
  }
}

.clickable {
  cursor: pointer;
}

.dark {
  background: black;
  color: white;
}

.settings {
  .dark;
  display: none;
  position: relative;
  border: 1px solid rgba(0,0,0,0.15);
  border-top: 0;
  border-bottom: 0;
  z-index: 2;
  height: 100vh;
  position: fixed;
  right: 0px;
  min-width: 400px;
  max-width: 400px;
  overflow-y: scroll;
  float: right;
  .pad-hv(2,4);
  .settingsHeader {
    position: fixed;
    top: 0;
    background: black;
    padding: 20px 10px;
    z-index: 2;
    .button.doneButton {
      float: right;
      background: @darkGray;
      color: white;
      border: 0;
      margin: 0 20px;
      padding: 5px 10px;
    }
    .title.settingsHeaderText {
      color: white;
      font-size: 2em;
      float: left;
    }  
  }
  
  .newsSourcesContainer {
    top: 80px;
    .newsSourcesList {
      .margin-hv(2,0);
        .newsSourcesListItem {
          padding: 15px 15px;
          .margin-hv(0,0);
          .clickable;
          opacity: 0.8;
        }
        .newsSourcesListItem:hover {
          opacity: 1;
        }
        .newsSourcesListItem.selected {
          background: @brightBlue;
        }
    }
  }
}

.footer {
  background: none !important;
  color: @lightGray;
  font-size: 13px;
  text-align: center;
}

.footer a strong {
  color: @darkBlue;
  opacity: 0.5;
}

.footer a strong:hover {
  color: @darkBlue;
  opacity: 0.5;
}

.settingsSectionHeader {
  font-size: 13px;
  color: @lightGray;
  text-transform: uppercase;
  font-family: @uppercaseHeaderFonts;
  font-weight: bold;
}

.settings.show {
  display: block;
}

.infoText {
  color: @lightGray;
  font-size: 13px;
  .clickable;
}

.infoText .highlighted {
  color: @brightBlue;
}

.errorDiv {
  .pad-hv(2, 4);
  .round(9px);
  font-size: 15px;
  background: rgba(255, 40, 100, 0.2);
  color: rgba(255, 40, 100, 1);
  max-width: 700px;
  text-align: center;
  margin: 20px auto;
}

.errorDivContainer {
  display: block;
  background: rgba(20, 20, 20, 1);
  position: fixed;
  bottom: 0px;
  height: 80px;
  width: 100%;
  display: none;
}

.clearSourcesButton {
  background: #33498F;
  padding: 10px 20px;
  margin: 10px;
  position: fixed;
  bottom: 0;
  border-radius: 6px;
  width: 340px;
  text-align: center;
  color: #00d1b2;
}

.clearSourcesButton:hover {
  background: #222;
  color: #00d1b2;
}